input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width: 160px;
  display: inline-block;
  text-decoration: double;
}
input,
select {
  width: 250px;
  padding: 7px;
  margin: 10px;
  box-shadow: 0 0 5px 2px;
}
.check-box {
  width: auto !important;
  padding: 7px;
  margin: 10px;
  box-shadow: 0 0 5px 2px;
}
.check-text {
  white-space: nowrap !important;
}
.check-box-div {
  display: flex;
  align-items: center;
}
